<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD0FS-31exwRTZl1pvlj1XJ5QyAAQ71VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1045357360737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docdoc</string>
	<key>PROJECT_ID</key>
	<string>docdoc-distirbution</string>
	<key>STORAGE_BUCKET</key>
	<string>docdoc-distirbution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045357360737:ios:a1f3026737e32e74e21c20</string>
</dict>
</plist>